<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DataContextConection"
    connectionString="Server=localhost;Database=DB_LaFamigliaPizzeriaDelivery;&#xD;&#xA;			 Uid=root;&#xD;&#xA;			 Pwd=1234567; &#xD;&#xA;			 Connect Timeout=60;"


                        />
	</connectionStrings>
	<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	
 <system.serviceModel>
  <bindings>
   <basicHttpBinding>
    <binding name="AtendeClienteServiceSoapBinding">
     <security mode="Transport" />
    </binding>
    <binding name="AtendeClienteServiceSoapBinding1" />
   </basicHttpBinding>
  </bindings>
  <client>
   <endpoint address="https://apps.correios.com.br/SigepMasterJPA/AtendeClienteService/AtendeCliente"
    binding="basicHttpBinding" bindingConfiguration="AtendeClienteServiceSoapBinding"
    contract="WSCorreios.AtendeCliente" name="AtendeClientePort" />
  </client>
 </system.serviceModel>
</configuration>